- page_title 'Register'

- form_for current_object do |f|

  = f.error_messages
  
  = f.label :email
  = f.text_field :email
  %br/
  
  = f.label :password
  = f.text_field :password
  %br/
  
  = f.label :password_confirmation, 'Confirm Password'
  = f.text_field :password_confirmation
  %br/
  
  = submit_tag 'Register'